@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-twinkle {
    animation: twinkle 5s infinite alternate;
  }

  @keyframes twinkle {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
}
